<footer class="footer section">
  <p>&copy Copyright Datos La Muni - 2023</p>
  <img onclick="window.location.href='https://santafeciudad.gov.ar/'" target="_blank" rel="noopener" src="img/Logo.png"
    alt="Logo Muni">
</footer>
</div>
</main>
</body>

</html>