<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Est치s mirando la p치gina de inicio, navega a 
      <a href="/dependencias">/dependencias</a>
      para ver la app web, o a 
      <a href="/graph">/gr치fico</a>
      para ver el fucking gr치fico
    </p>
  </body>
</html>
