<%- include("../header"); %>
    <div class="row">
        <div class="col-12">
            <aside class="welcome text-center text-lg-center title-shadow">
                <h2>JSON creado con éxito <i class="icon icon-solid icon-dep"></i></h2>
            </aside>
            <p>Accede desde aquí:
                <a href="/json/organigrama.json" target="_blank">/Organigrama.json</a>
            </p>
        </div>
    </div>
    <%- include("../footer"); %>